<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Наши товары</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <table>
        <thead>
        <tr>
           <td>ID</td>
           <td>Наименование</td>
           <td>Цена</td>
           <td></td>
           <td></td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${products}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.title}"></td>
            <td th:text="${p.cost}"></td>
           <td>
              <a th:href="@{'/info/' + ${p.id}}" type="button" class="btn btn-light">Подробнее</a>
           </td>
           <td>
             <a th:href="@{'/up/' + ${p.id}}" type="button" class="btn btn-light"> + </a>
           </td>
           <td>
               <a th:href="@{'/down/' + ${p.id}}" type="button" class="btn btn-light"> - </a>
           </td>
        </tr>
        </tbody>
    </table>
    <p></p>
    <a th:href="@{'/new_product'}" type="button" class="btn btn-light">Новый продукт</a>
</div>
</body>
</html>